<html>
    <body>
        <div class="header1">
            <h1>Manage Products</h1>
        </div>
        <div class="button1">
            <button type="submit" class="btn btn-primary">Add New Product</button>
        </div>
        <div class="inputtable">
            <table class="table">
            <tbody>
              <tr>
                <th scope="row">Camera</th>
                <button class="btn btn-outline-secondary" style="margin-right: 8px; height: 40px;" type="submit">Edit</button>
                <button class="btn btn-outline-danger" style="height: 40px;" type="submit">Delete</button>
              </tr>
              <br/>
              <tr>
                <th scope="row">Laptop</th>
                <button class="btn btn-outline-secondary" style="margin-right: 8px;" type="submit">Edit</button>
                <button class="btn btn-outline-danger" style="height: 40px;" type="submit">Delete</button>
              </tr>
              <br/>
              <tr>
                <th scope="row">Phone</th>
                <button class="btn btn-outline-secondary" style="margin-right: 8px;" type="submit">Edit</button>
                <button class="btn btn-outline-danger" style="height: 40px;" type="submit">Delete</button>
              </tr>
              <br/>
              <tr>
                <th scope="row">Phone</th>
                <button class="btn btn-outline-secondary" style="margin-right: 8px;" type="submit">Edit</button>
                <button class="btn btn-outline-danger" style="height: 40px;" type="submit">Delete</button>
              </tr>
              <br/>
              <tr>
                <th scope="row">Phone</th>
                <button class="btn btn-outline-secondary" style="margin-right: 8px;" type="submit">Edit</button>
                <button class="btn btn-outline-danger" style="height: 40px;" type="submit">Delete</button>
              </tr>
              <br/>
              <tr>
                <th scope="row">Phone</th>
                <button class="btn btn-outline-secondary" style="margin-right: 8px;" type="submit">Edit</button>
                <button class="btn btn-outline-danger" style="height: 40px;" type="submit">Delete</button>
              </tr>
            </tbody>
          </table>
        </div>
    </body>
</html>
