<html>
<body>
  <form [formGroup]="addingProduct" (ngSubmit)="receivingProductData()">
  <div>
    <div class="header1">
        <h5 class="card-title">Add new product</h5>
    </div>
    <br/>
      <div class="mb-3 productName">
          <label for="productName">Product Name</label>
          <input type="text" formControlName="productName" class="form-control" [ngClass]="{'is-invalid': addingProduct.get('productName')?.touched && addingProduct.get('productName')?.invalid}"> 
          <div class="invalid-feedback">
            <div *ngIf="addingProduct.get('productName')?.errors?.['required']">
              Valid Product Name is required</div>
            <div  *ngIf="addingProduct.get('productName')?.errors?.['minlength']">
              Product name should be more than 10 Chars</div>
              <div  *ngIf="addingProduct.get('productName')?.errors?.['maxlength']">
                Product name should not be more than 64 Chars</div>
         </div>
      </div>

      <div class="mb-3 department">
        <label for="department" >Department</label>
        <input type="text" formControlName="department" class="form-control" [ngClass]="{'is-invalid': addingProduct.get('department')?.touched && addingProduct.get('department')?.invalid}"> 
        <div class="invalid-feedback">
          <div>Valid Department is required</div>
        </div>
      </div>

      <div class="mb-3 price">
        <label for="price">Price</label>
        <input type="text" formControlName="price" class="form-control"  [ngClass]="{'is-invalid': addingProduct.get('price')?.touched && addingProduct.get('price')?.invalid}">
        <div class="invalid-feedback">
          <div>Valid Price is required</div>
        </div>
      </div>

      <div class="mb-3 discountprice">
        <label for="discountprice">Discount Price</label>
        <input type="text" formControlName="discountprice" class="form-control" [ngClass]="{'is-invalid': addingProduct.get('discountprice')?.touched && addingProduct.get('discountprice')?.invalid}"> 
        <div class="invalid-feedback">
          <div>Valid Discount Price is required</div>
        </div>
      </div>

      <div class="mb-3 productimage">
        <label for="productimage">Product Image</label>
        <input type="text" formControlName="productimage" class="form-control" [ngClass]="{'is-invalid': addingProduct.get('productimage')?.touched && addingProduct.get('productimage')?.invalid}"> 
        <div class="invalid-feedback">
          <div>Valid Product Image is required</div>
        </div>
      </div>

      <div class="mb-3 productdescription">
        <label for="productdescription">Product Description</label>
        <input type="text" formControlName="productdescription" style="height: 100px;" class="form-control" [ngClass]="{'is-invalid': addingProduct.get('productdescription')?.touched && addingProduct.get('productdescription')?.invalid}"> 
        <div class="invalid-feedback">
          <div *ngIf="addingProduct.get('productdescription')?.errors?.['required']">
            Valid Product Description is required</div>
          <div  *ngIf="addingProduct.get('productdescription')?.errors?.['minlength']">
            Product Description should be atleast 20 chars</div>
        </div>
      </div>
      
      <div class="mb-3 form-check button1">
        <label class="form-check-label" for="exampleCheck1" >Top Selling Product</label>
        <input type="checkbox" class="form-check-input" id="exampleCheck1" >
      </div>

      <div class="button2">
      <button [disabled]="addingProduct.invalid" data-testid="add-new-button" type="submit" class="btn btn-warning">Add New Product</button>
      </div>

</div>
</form>
</body>
</html>
