<html>
    <body>
        <div class="header1">
            <h1>Manage Orders</h1>
        </div>
        <div class="inputtable">
            <table class="table">
            <tbody>
              <tr>
                <th scope="row">#12345654345</th>
                <button class="btn btn-outline-secondary" style="margin-right: 8px; height: 40px;" type="submit">Process</button>
                <button class="btn btn-outline-danger" style="height: 40px;" type="submit">Delete</button>
              </tr>
              <br/>
              <tr>
                <th scope="row">#908786757687990</th>
                <button class="btn btn-outline-secondary" style="margin-right: 8px;" type="submit">Process</button>
                <button class="btn btn-outline-danger" style="height: 40px;" type="submit">Delete</button>
              </tr>
              <br/>
              <tr>
                <th scope="row">#65678978675</th>
                <button class="btn btn-outline-secondary" style="margin-right: 8px;" type="submit">Process</button>
                <button class="btn btn-outline-danger" style="height: 40px;" type="submit">Delete</button>
              </tr>
              <br/>
              <tr>
                <th scope="row">#987867567687</th>
                <button class="btn btn-outline-danger" style="height: 40px;" type="submit">Delete</button>
              </tr>
            </tbody>
          </table>
        </div>
    </body>
</html>
