<html>
<body>
  <form [formGroup]="addingUser" (ngSubmit)="receivingUserData()">
  <div>
    <div class="header1">
        <h5 class="card-title">User Info</h5>
    </div>
    
      <div class="mb-3 firstName">
          <label for="firstName">First Name</label>
          <input type="text" class="form-control"  style="width: 500px;" value="{{ profile.firstName }}" readonly>
      </div>

      <div class="mb-3 lastName">
        <label for="lastName">Last Name</label>
        <input type="text"  class="form-control"  style="width: 500px;" value="{{ profile.lastName }}" readonly > 
    </div>

    <div class="mb-3 Email">
        <label for="lastName">Email</label>
        <input type="text" class="form-control"  style="width: 500px;" value="{{ profile.email}}" readonly > 
    </div>

    <div>
        <h5 class="card-title header2">Shipping Address</h5>
    </div>

    <div class="mb-3 streetaddress">
        <label for="streetaddress">Street Address</label>
        <input type="text" formControlName="streetaddress" class="form-control"  style="width: 500px;" [ngClass]="{'is-invalid': addingUser.get('streetaddress')?.touched && addingUser.get('streetaddress')?.invalid}" > 
        <div class="invalid-feedback">
            <div>Valid address is required</div>
         </div>
    </div>

    <div class="mb-3 city">
        <label for="city">City</label>
        <input type="text" formControlName="city" class="form-control"  style="width: 500px;" [ngClass]="{'is-invalid': addingUser.get('city')?.touched && addingUser.get('city')?.invalid}"> 
        <div class="invalid-feedback">
            <div>Valid city is required</div>
         </div>
    </div>

    <div class="mb-3 state">
        <label for="state">State</label>
        <input type="text" formControlName="state" class="form-control"  style="width: 500px;" [ngClass]="{'is-invalid': addingUser.get('state')?.touched && addingUser.get('state')?.invalid}" > 
        <div class="invalid-feedback">
            <div>Valid state is required</div>
         </div>
    </div>

    <div class="mb-3 zipcode">
        <label for="zipcode">Zip Code</label>
        <input  type="text" formControlName="zipcode" class="form-control"  style="width: 500px;" [ngClass]="{'is-invalid': addingUser.get('zipcode')?.touched && addingUser.get('zipcode')?.invalid}" > 
        <div class="invalid-feedback">
            <div>Valid Zip Code is required</div>
         </div>
    </div>

    <div class="button">
      <button [disabled]="addingUser.invalid" data-testid="checkout-button" type="submit" class="btn btn-warning">Place Order</button>
    </div>
</div>
</form>
</body>
</html>


